<style>
/*.titleTxt {
height: auto !important;
} */

/** {
    font-family: Roboto,Calibri,Arial !important;
}*/

.center{
  text-align: center;
}

.page-check{
  display: block;
}

.page-check, .page-login, .page-result, .page-register, .page-counter{
  display: none;
}

.image-circle {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.header {
  font: 14px Roboto,Calibri,Arial !important;
  padding: 10px 10px 10px 10px;
  text-align:left;
  background-color:#EFEFEF;
  /*height:50px;*/
  vertical-align:middle;
  line-height: 50px;  
}

.header-back {
  font-size:24px;
  padding-right:10px;
}

.avatar {
margin: auto;
width: 150px;
height: 150px;
border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
overflow:hidden;
}

.avatar img{
    width:100%;
}

.starrr { display: inline-block; }
 
.starrr i {
  font-size: 30px;
  padding: 0 3px;
  cursor: pointer;
  color: #ffd119;
}

  .avatar_list {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
  overflow:hidden;
  }

  .avatar_list img{
      width:100%;
  }

  .btn_erating {
    /* width:250px; */
    width: 80%;
    height:40px;
  }

  .txt_erating {
    font-size:20px;
    width:250px;
  }  

  .txt_appgen {
    font-family: Roboto,Calibri,Arial !important;
    font-size:20px;
  }

  /* FARID TAMBAH */
  hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .smiley-container {
    flex-direction: column;
    align-content: flex-start;
    align-self: center;
    max-width: 300px;
    /* background: gray; */
  }
  .smiley-item {
    text-align: left;
    font-size: large;
  }
  .smiley-item label {
    width: 100%;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }

  /* HIDE RADIO */
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + div {
    /* outline: 2px solid #f00; */
    padding: 10px;
    border: 3px dashed #ccc;
    /* text-align: center; */
  }

  
</style>